Project_Exam_2/Source Code/aurdino.json
[{"id":"5f3272e.bd8be8c","type":"tab","label":"Flow 2","disabled":false,"info":""},{"id":"f9cdbe16.c227e","type":"serial-port","z":"","serialport":"COM3","serialbaud":"57600","databits":"8","parity":"none","stopbits":"1","waitfor":"","newline":"\\n","bin":"false","out":"char","addchar":"false","responsetimeout":""},{"id":"dcb62107.400dc","type":"serial-port","z":"5f3272e.bd8be8c","serialport":"COM5","serialbaud":"115200","databits":"8","parity":"none","stopbits":"1","waitfor":"","newline":"\\n","bin":"false","out":"char","addchar":"false","responsetimeout":""},{"id":"fa673ac2.523908","type":"ui_group","z":"5f3272e.bd8be8c","name":"Sensors Visulization Using Aurdino","tab":"4001bace.6162f4","order":1,"disp":true,"width":"16","collapse":false},{"id":"4001bace.6162f4","type":"ui_tab","z":"5f3272e.bd8be8c","name":"Home","icon":"dashboard"},{"id":"a965602c.db543","type":"twitter-credentials","z":"","screen_name":"pavansai672"},{"id":"ada8bf65.8f8fb","type":"ui_base","theme":{"name":"theme-light","lightTheme":{"default":"#0094CE","baseColor":"#0094CE","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","edited":true,"reset":false},"darkTheme":{"default":"#097479","baseColor":"#097479","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","edited":false},"customTheme":{"name":"Untitled Theme 1","default":"#4B7930","baseColor":"#4B7930","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"},"themeState":{"base-color":{"default":"#0094CE","value":"#0094CE","edited":false},"page-titlebar-backgroundColor":{"value":"#0094CE","edited":false},"page-backgroundColor":{"value":"#fafafa","edited":false},"page-sidebar-backgroundColor":{"value":"#ffffff","edited":false},"group-textColor":{"value":"#1bbfff","edited":false},"group-borderColor":{"value":"#ffffff","edited":false},"group-backgroundColor":{"value":"#ffffff","edited":false},"widget-textColor":{"value":"#111111","edited":false},"widget-backgroundColor":{"value":"#0094ce","edited":false},"widget-borderColor":{"value":"#ffffff","edited":false},"base-font":{"value":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"}},"angularTheme":{"primary":"indigo","accents":"blue","warn":"red","background":"grey"}},"site":{"name":"Node-RED Dashboard","hideToolbar":"false","allowSwipe":"false","lockMenu":"false","allowTempTheme":"true","dateFormat":"DD/MM/YYYY","sizes":{"sx":48,"sy":48,"gx":6,"gy":6,"cx":6,"cy":6,"px":0,"py":0}}},{"id":"2f25c32b.57163c","type":"serial in","z":"5f3272e.bd8be8c","name":"","serial":"f9cdbe16.c227e","x":90,"y":40,"wires":[["97be85f1.9dd888","8e40a619.34e968","1fc1018c.7b9f3e"]]},{"id":"97be85f1.9dd888","type":"debug","z":"5f3272e.bd8be8c","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":490,"y":40,"wires":[]},{"id":"b67371.5a1d0c9","type":"twitter out","z":"5f3272e.bd8be8c","twitter":"a965602c.db543","name":"Tweet","x":310,"y":360,"wires":[]},{"id":"5c963ef9.1e1e7","type":"e-mail","z":"5f3272e.bd8be8c","server":"smtp.gmail.com","port":"465","secure":true,"tls":true,"name":"akhilkanugolu@gmail.com","dname":"Mail","x":150,"y":360,"wires":[]},{"id":"1fc1018c.7b9f3e","type":"function","z":"5f3272e.bd8be8c","name":"","func":"var output = msg.payload.split(\" \");\nvar Gas=parseInt(output[0]);\nvar Light=parseInt(output[1]);\nvar Dust=parseInt(output[2]);\n\nvar msg1={payload:Gas};\nvar msg2={payload:Light};\nvar msg3={payload:Dust};\n\nmsg={\n    payload : \"Gas Value is \"+Gas+ \" PPM, Light Value is \"+Light+\" Dust Value is \"+Dust+\"pcs/0.01cf\",\n    topic : \"Gas & Light Value\"\n    \n}\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":180,"y":220,"wires":[["b67371.5a1d0c9","5c963ef9.1e1e7"]]},{"id":"8e40a619.34e968","type":"function","z":"5f3272e.bd8be8c","name":"","func":"var output = msg.payload.split(\" \");\nvar Gas=parseInt(output[0]);\nvar Light=parseInt(output[1]);\nvar Dust=parseInt(output[2]);\n\nvar msg1={payload:Gas};\nvar msg2={payload:Light};\nvar msg3={payload:Dust};\n\nreturn [msg1,msg2,msg3];","outputs":3,"noerr":0,"initialize":"","finalize":"","x":280,"y":100,"wires":[["553cddfd.b21634","6f880f0f.3b125"],["8e8594da.0087f8","33551ab5.9c25d6"],["c7928994.2e8f58","1abfa70b.68d1f9"]]},{"id":"8e8594da.0087f8","type":"ui_gauge","z":"5f3272e.bd8be8c","name":"","group":"fa673ac2.523908","order":2,"width":"5","height":"5","gtype":"gage","title":"Light Value","label":"PPM","format":"{{value}}","min":0,"max":"200","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":490,"y":260,"wires":[]},{"id":"33551ab5.9c25d6","type":"ui_chart","z":"5f3272e.bd8be8c","name":"","group":"fa673ac2.523908","order":1,"width":"9","height":"5","label":"Light Value","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"","ymax":"","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"3600","cutout":0,"useOneColor":false,"useUTC":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"outputs":1,"x":490,"y":200,"wires":[[]]},{"id":"553cddfd.b21634","type":"ui_chart","z":"5f3272e.bd8be8c","name":"","group":"fa673ac2.523908","order":1,"width":"9","height":"5","label":"Gas Value","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"","ymax":"","removeOlder":"1","removeOlderPoints":"","removeOlderUnit":"86400","cutout":0,"useOneColor":false,"useUTC":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"outputs":1,"x":490,"y":80,"wires":[[]]},{"id":"6f880f0f.3b125","type":"ui_gauge","z":"5f3272e.bd8be8c","name":"","group":"fa673ac2.523908","order":2,"width":"5","height":"5","gtype":"gage","title":"Gas Value","label":"PPM","format":"{{value}}","min":0,"max":"200","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":490,"y":140,"wires":[]},{"id":"c7928994.2e8f58","type":"ui_chart","z":"5f3272e.bd8be8c","name":"","group":"fa673ac2.523908","order":1,"width":"9","height":"5","label":"Dust Value","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"","ymax":"","removeOlder":"1","removeOlderPoints":"","removeOlderUnit":"86400","cutout":0,"useOneColor":false,"useUTC":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"outputs":1,"x":490,"y":320,"wires":[[]]},{"id":"1abfa70b.68d1f9","type":"ui_gauge","z":"5f3272e.bd8be8c","name":"","group":"fa673ac2.523908","order":2,"width":"5","height":"5","gtype":"gage","title":"Dust Value","label":"PPM","format":"{{value}}","min":0,"max":"200","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":490,"y":360,"wires":[]}]