Project_Exam_2/Source Code/Raspberry.json
[{"id":"167d5a2a.925116","type":"tab","label":"Flow 1","disabled":false,"info":""},{"id":"59664b5f.e693a4","type":"rpi-dht22","z":"167d5a2a.925116","name":"","topic":"rpi-dht11","dht":"11","pintype":1,"pin":"11","x":300,"y":40,"wires":[["4df43fb.11291c","3bd1ef40.3d4b5","8d3a7aeb.ae4e08","571cdb50.5f7634","b826170e.992268"]]},{"id":"a0b27056.8cd59","type":"inject","z":"167d5a2a.925116","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"10","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":110,"y":40,"wires":[["59664b5f.e693a4","92e8c767.143838"]]},{"id":"4df43fb.11291c","type":"debug","z":"167d5a2a.925116","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":590,"y":100,"wires":[]},{"id":"3bd1ef40.3d4b5","type":"debug","z":"167d5a2a.925116","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":570,"y":40,"wires":[]},{"id":"b826170e.992268","type":"function","z":"167d5a2a.925116","name":"","func":"msg={\n    payload : \"Temperature is \"+msg.payload+\" C, Humidity is  \"+msg.humidity+\" %\",\n    topic : \"Temp and Humid Updates\"\n    \n}\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":420,"y":160,"wires":[["ede368dc.3bbf08","1660e30.4c0451d"]]},{"id":"ede368dc.3bbf08","type":"twitter out","z":"167d5a2a.925116","twitter":"","name":"Tweet","x":570,"y":160,"wires":[],"info":"Humidity from DHT11 using NodeRed"},{"id":"1660e30.4c0451d","type":"e-mail","z":"167d5a2a.925116","server":"smtp.gmail.com","port":"465","secure":true,"tls":true,"name":"akhilkanugolu@gmail.com","dname":"Temp & Humid Updates","x":630,"y":220,"wires":[]},{"id":"a70922ed.9a62","type":"ui_chart","z":"167d5a2a.925116","name":"","group":"3bd6c05f.bcb6f","order":1,"width":"10","height":"5","label":"Temperature","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"0","ymax":"50","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"3600","cutout":0,"useOneColor":false,"useUTC":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"outputs":1,"x":630,"y":260,"wires":[[]]},{"id":"8d3a7aeb.ae4e08","type":"function","z":"167d5a2a.925116","name":"Temperature","func":"msg.payload=msg.payload;\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":430,"y":260,"wires":[["5e7bcbc7.24bd24","a70922ed.9a62"]]},{"id":"5e7bcbc7.24bd24","type":"ui_gauge","z":"167d5a2a.925116","name":"","group":"3bd6c05f.bcb6f","order":0,"width":"5","height":"5","gtype":"gage","title":"Temperature","label":"Celsius","format":"{{value}}","min":0,"max":"50","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":630,"y":300,"wires":[]},{"id":"571cdb50.5f7634","type":"function","z":"167d5a2a.925116","name":"Humidity","func":"msg.payload=msg.humidity;\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":420,"y":340,"wires":[["d89104b8.4a1178","99a1ec7a.d54cd"]]},{"id":"99a1ec7a.d54cd","type":"ui_gauge","z":"167d5a2a.925116","name":"","group":"3bd6c05f.bcb6f","order":0,"width":"5","height":"5","gtype":"gage","title":"Humidity","label":"Percentage","format":"{{value}}","min":0,"max":"100","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":620,"y":380,"wires":[]},{"id":"d89104b8.4a1178","type":"ui_chart","z":"167d5a2a.925116","name":"","group":"3bd6c05f.bcb6f","order":1,"width":"10","height":"5","label":"Humidity","chartType":"line","legend":"true","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"","ymax":"70","removeOlder":"500000","removeOlderPoints":"","removeOlderUnit":"1","cutout":0,"useOneColor":false,"useUTC":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"outputs":1,"x":620,"y":340,"wires":[[]]},{"id":"92e8c767.143838","type":"Bme280","z":"167d5a2a.925116","name":"","bus":"1","address":"0x77","topic":"bmp280","extra":true,"x":100,"y":140,"wires":[["8543b53a.3b7448","f11d6a0.114f998","1cc162c7.28098d","7bf24aa8.b28ab4","d6f0c671.c8db08"]]},{"id":"8543b53a.3b7448","type":"debug","z":"167d5a2a.925116","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":250,"y":140,"wires":[]},{"id":"f11d6a0.114f998","type":"debug","z":"167d5a2a.925116","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload.pressure_hPa","targetType":"msg","statusVal":"","statusType":"auto","x":180,"y":220,"wires":[]},{"id":"1cc162c7.28098d","type":"debug","z":"167d5a2a.925116","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload.altitude_M","targetType":"msg","statusVal":"","statusType":"auto","x":170,"y":280,"wires":[]},{"id":"d6f0c671.c8db08","type":"function","z":"167d5a2a.925116","name":"","func":"msg={\n    payload : \"Pressure is \"+msg.payload.pressure_hPa+\" Hpa, Altitude is  \"+msg.payload.altitude_M+\" Meters\",\n    topic : \"Pressure  and Altitude Updates\"\n    \n}\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":100,"y":340,"wires":[["7c741949.e46b28","fbcec66a.a515a8"]]},{"id":"7c741949.e46b28","type":"twitter out","z":"167d5a2a.925116","twitter":"","name":"Tweet","x":250,"y":340,"wires":[],"info":"Humidity from DHT11 using NodeRed"},{"id":"fbcec66a.a515a8","type":"e-mail","z":"167d5a2a.925116","server":"smtp.gmail.com","port":"465","secure":true,"tls":true,"name":"akhilkanugolu@gmail.com","dname":"Pressure & Altitude Updates","x":320,"y":400,"wires":[]},{"id":"7bf24aa8.b28ab4","type":"function","z":"167d5a2a.925116","name":"Pressure","func":"msg.payload=msg.payload.pressure_hPa;\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":100,"y":460,"wires":[["fe2f18b3.318e08","d1a26fe7.bdd"]]},{"id":"fe2f18b3.318e08","type":"ui_chart","z":"167d5a2a.925116","name":"","group":"3bd6c05f.bcb6f","order":1,"width":"10","height":"5","label":"Pressure","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"0","ymax":"1000","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"3600","cutout":0,"useOneColor":false,"useUTC":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"outputs":1,"x":280,"y":460,"wires":[[]]},{"id":"d1a26fe7.bdd","type":"ui_gauge","z":"167d5a2a.925116","name":"","group":"3bd6c05f.bcb6f","order":0,"width":"5","height":"5","gtype":"gage","title":"Pressure","label":"Hpa","format":"{{value}}","min":0,"max":"1000","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":280,"y":500,"wires":[]},{"id":"3bd6c05f.bcb6f","type":"ui_group","z":"","name":"Node Red Visulization","tab":"31a78ed.c152172","order":1,"disp":true,"width":"21","collapse":false},{"id":"31a78ed.c152172","type":"ui_tab","z":"","name":"Home","icon":"dashboard","disabled":false,"hidden":false}]