ICP_9/Source/Dht11.json
[{"id":"9d6899e6.b9a048","type":"rpi-dht22","z":"edd947de.0ed608","name":"","topic":"rpi-dht11","dht":"11","pintype":1,"pin":"11","x":300,"y":180,"wires":[["1c9ec810.379ad8","bab50373.5c9d8","12e30e6c.7b4412"]]},{"id":"41afb360.0dd11c","type":"inject","z":"edd947de.0ed608","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"10","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":120,"y":180,"wires":[["9d6899e6.b9a048"]]},{"id":"1c9ec810.379ad8","type":"debug","z":"edd947de.0ed608","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":510,"y":160,"wires":[]},{"id":"bab50373.5c9d8","type":"debug","z":"edd947de.0ed608","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":490,"y":100,"wires":[]},{"id":"12e30e6c.7b4412","type":"function","z":"edd947de.0ed608","name":"","func":"msg.payload=msg.humidity;\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":370,"y":280,"wires":[["22005d5f.51cce2"]]},{"id":"22005d5f.51cce2","type":"twitter out","z":"edd947de.0ed608","twitter":"","name":"Tweet","x":540,"y":300,"wires":[],"info":"Humidity from DHT11 using NodeRed"}]