ICP_9/Source/Traffic.json
[{"id":"567519b2.212ed8","type":"tab","label":"Part2","disabled":false,"info":""},{"id":"16e9a970.affec7","type":"delay","z":"567519b2.212ed8","name":"","pauseType":"delay","timeout":"3","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":240,"y":160,"wires":[["40c038b.6ad2bc8","a690ba55.eb9fa8"]]},{"id":"d7d2a52e.c498c8","type":"delay","z":"567519b2.212ed8","name":"","pauseType":"delay","timeout":"5","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":240,"y":220,"wires":[["d19847bb.3f75a8","70a5c747.856a48"]]},{"id":"40c038b.6ad2bc8","type":"change","z":"567519b2.212ed8","name":"Change Payload","rules":[{"t":"set","p":"payload","pt":"msg","to":"","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":440,"y":20,"wires":[["8178d4f4.d1e8a8"]]},{"id":"70a5c747.856a48","type":"change","z":"567519b2.212ed8","name":"Change Payload","rules":[{"t":"set","p":"payload","pt":"msg","to":"","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":440,"y":300,"wires":[["1cbcd277.8ca12e"]]},{"id":"7cb50010.bd482","type":"function","z":"567519b2.212ed8","name":"Toggle","func":"context.level= !context.level|| false;\n// set the  payload to the level and return\nmsg.payload= context.level;\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":430,"y":100,"wires":[["8178d4f4.d1e8a8"]]},{"id":"d19847bb.3f75a8","type":"function","z":"567519b2.212ed8","name":"Toggle","func":"context.level= !context.level|| false;\n// set the  payload to the level and return\nmsg.payload= context.level;\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":430,"y":220,"wires":[["96721417.d646c8"]]},{"id":"5dc1a3e2.7ba42c","type":"inject","z":"567519b2.212ed8","name":"Interval","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"6","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":80,"y":100,"wires":[["7cb50010.bd482","16e9a970.affec7","d7d2a52e.c498c8"]]},{"id":"a690ba55.eb9fa8","type":"function","z":"567519b2.212ed8","name":"Toggle","func":"context.level= !context.level|| false;\n// set the  payload to the level and return\nmsg.payload= context.level;\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":430,"y":160,"wires":[["1cbcd277.8ca12e"]]},{"id":"8178d4f4.d1e8a8","type":"rpi-gpio out","z":"567519b2.212ed8","name":"","pin":"7","set":true,"level":"0","freq":"","out":"out","x":650,"y":100,"wires":[]},{"id":"1cbcd277.8ca12e","type":"rpi-gpio out","z":"567519b2.212ed8","name":"","pin":"8","set":"","level":"0","freq":"","out":"out","x":630,"y":160,"wires":[]},{"id":"96721417.d646c8","type":"rpi-gpio out","z":"567519b2.212ed8","name":"","pin":"10","set":"","level":"0","freq":"","out":"out","x":640,"y":220,"wires":[]}]