ICP_8/Source/Range.json
[
    {
        "id": "f5ce3a23.cc07a",
        "type": "tab",
        "label": "Range Node ",
        "disabled": false,
        "info": ""
    },
    {
        "id": "789b7f75.b0deb8",
        "type": "inject",
        "z": "f5ce3a23.cc07a",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "300",
        "payloadType": "num",
        "x": 110,
        "y": 80,
        "wires": [
            [
                "5ce8f41d.6a001c"
            ]
        ]
    },
    {
        "id": "733b0321.41e0a4",
        "type": "inject",
        "z": "f5ce3a23.cc07a",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "512",
        "payloadType": "num",
        "x": 110,
        "y": 140,
        "wires": [
            [
                "5ce8f41d.6a001c"
            ]
        ]
    },
    {
        "id": "22a28745.1706e8",
        "type": "inject",
        "z": "f5ce3a23.cc07a",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "1023",
        "payloadType": "num",
        "x": 110,
        "y": 200,
        "wires": [
            [
                "5ce8f41d.6a001c"
            ]
        ]
    },
    {
        "id": "5ce8f41d.6a001c",
        "type": "range",
        "z": "f5ce3a23.cc07a",
        "minin": "1",
        "maxin": "10",
        "minout": "0",
        "maxout": "255",
        "action": "scale",
        "round": true,
        "property": "payload",
        "name": "",
        "x": 310,
        "y": 160,
        "wires": [
            [
                "9631c428.e22e9"
            ]
        ]
    },
    {
        "id": "9631c428.e22e9",
        "type": "debug",
        "z": "f5ce3a23.cc07a",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "x": 460,
        "y": 160,
        "wires": []
    }
]