ICP_7/Source Code/Led On and Off.txt
[{"id":"961fff03.2588e","type":"tab","label":"Part1","disabled":false,"info":""},{"id":"19abc850.22c7f8","type":"arduino out","z":"961fff03.2588e","name":"","pin":"13","state":"OUTPUT","arduino":"eec292a3.72a2f","x":620.5,"y":160,"wires":[]},{"id":"110c2c8b.e9f8f3","type":"inject","z":"961fff03.2588e","name":"ON/OFF","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":"","topic":"","payload":"0","payloadType":"num","x":200,"y":160,"wires":[["77f086ff.36dc48"]]},{"id":"77f086ff.36dc48","type":"function","z":"961fff03.2588e","name":"Toggle output on input","func":"\n// If it does exist make it the inverse of what it was or else initialise it to false\n// (context variables persist between calls to the function)\ncontext.level = !context.level || false;\n\n// set the payload to the level and return\nmsg.payload = context.level;\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":408,"y":160,"wires":[["19abc850.22c7f8"]]},{"id":"eec292a3.72a2f","type":"arduino-board","z":"","device":"COM4"}]