ICP_7/Source Code/Traffic Light.txt
[{"id":"3404baf0.dd7966","type":"tab","label":"Part2","disabled":false,"info":""},{"id":"f4e60ee0.6e7a5","type":"delay","z":"3404baf0.dd7966","name":"","pauseType":"delay","timeout":"2","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":240,"y":160,"wires":[["c35158e9.e7f488","30d08df8.6940e2"]]},{"id":"aa6f623a.28112","type":"delay","z":"3404baf0.dd7966","name":"","pauseType":"delay","timeout":"4","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":240,"y":220,"wires":[["9f881200.5ad41","826c389e.b9c708"]]},{"id":"c35158e9.e7f488","type":"change","z":"3404baf0.dd7966","name":"Change Payload","rules":[{"t":"set","p":"payload","pt":"msg","to":"","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":440,"y":20,"wires":[["ae82116d.4b68f"]]},{"id":"826c389e.b9c708","type":"change","z":"3404baf0.dd7966","name":"Change Payload","rules":[{"t":"set","p":"payload","pt":"msg","to":"","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":440,"y":300,"wires":[["dea546be.7dbc68"]]},{"id":"e3c6ab68.d2cc58","type":"function","z":"3404baf0.dd7966","name":"Toggle","func":"context.level= !context.level|| false;\n// set the  payload to the level and return\nmsg.payload= context.level;\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":430,"y":100,"wires":[["ae82116d.4b68f"]]},{"id":"9f881200.5ad41","type":"function","z":"3404baf0.dd7966","name":"Toggle","func":"context.level= !context.level|| false;\n// set the  payload to the level and return\nmsg.payload= context.level;\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":430,"y":220,"wires":[["a80373c7.bb465"]]},{"id":"d33ec185.b37af","type":"inject","z":"3404baf0.dd7966","name":"Interval","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"1.5","crontab":"","once":true,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":80,"y":100,"wires":[["e3c6ab68.d2cc58","f4e60ee0.6e7a5","aa6f623a.28112"]]},{"id":"30d08df8.6940e2","type":"function","z":"3404baf0.dd7966","name":"Toggle","func":"context.level= !context.level|| false;\n// set the  payload to the level and return\nmsg.payload= context.level;\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":430,"y":160,"wires":[["dea546be.7dbc68"]]},{"id":"ae82116d.4b68f","type":"arduino out","z":"3404baf0.dd7966","name":"Red","pin":"7","state":"OUTPUT","arduino":"eec292a3.72a2f","x":630,"y":100,"wires":[]},{"id":"dea546be.7dbc68","type":"arduino out","z":"3404baf0.dd7966","name":"Blue","pin":"8","state":"OUTPUT","arduino":"eec292a3.72a2f","x":630,"y":160,"wires":[]},{"id":"a80373c7.bb465","type":"arduino out","z":"3404baf0.dd7966","name":"green","pin":"10","state":"OUTPUT","arduino":"eec292a3.72a2f","x":630,"y":220,"wires":[]},{"id":"eec292a3.72a2f","type":"arduino-board","z":"","device":"COM4"}]